<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- ✅ 1. Permiso de internet (faltaba) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- ✅ 2. usesCleartextTraffic para permitir HTTP (faltaba) -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Indecsa_v2"
        android:usesCleartextTraffic="true" >

        <activity
            android:name=".capitalhumano.Panel_Inicial_CapitalHumano"
            android:exported="false" />
        <activity
            android:name=".admin.Panel_Inicial_Admin"
            android:exported="false" />
        <activity
            android:name=".capitalhumano.Panel_CapitalHumano"
            android:exported="false" />
        <activity
            android:name=".admin.Panel_Admin"
            android:exported="false" />
        <activity
            android:name=".login.CorreoLoginActivity"
            android:exported="false" />
        <activity
            android:name=".login.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>